[Unit]
Description=RFID Scanner Service
After=network.target
 
[Service]
ExecStart=/home/pi/source/door_scanner/ac_scanner
Restart=always
 
[Install]
WantedBy=multi-user.target
Alias=door_scanner.service